oci_region      = "ap-mumbai-1"
oci_fingerprint = "aa:bb:cc:dd:ee:ff"

tenancy_1_ocid             = "ocid1.tenancy.oc1..replace-me"
tenancy_1_user_ocid        = "ocid1.user.oc1..replace-me"
tenancy_1_compartment_ocid = "ocid1.compartment.oc1..replace-me"

tenancy_2_ocid             = "ocid1.tenancy.oc1..replace-me"
tenancy_2_user_ocid        = "ocid1.user.oc1..replace-me"
tenancy_2_compartment_ocid = "ocid1.compartment.oc1..replace-me"

requestor_group_name = "Administrators"

netbird_token          = "replace-me"
netbird_management_url = "https://api.netbird.io"

infisical_org_id = "replace-me"
infisical_auth_method = "universal"
cloudflare_zone  = "kakatkarakshay.dev"

tenancy_1_vcn_cidr    = "10.0.0.0/16"
tenancy_1_subnet_cidr = "10.0.0.0/24"
tenancy_2_vcn_cidr    = "10.1.0.0/16"
tenancy_2_subnet_cidr = "10.1.0.0/24"

kubernetes_pod_subnets     = ["10.244.0.0/16", "fd00:10:244::/56"]
kubernetes_service_subnets = ["10.96.0.0/20", "fd00:10:96::/112"]
